/* navbar */
body{
    font-family: 'Poppins', sans-serif;
}
.gray {
    color: gray;
    
}
.white{
    color: white;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}

.logo {
    display: flex;
}

.anchor {
    color: #3C354F;
    text-align: center;
    text-decoration: none;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 10px;
}

.folow-btn {
    border-style: none;
    border-radius: 8px background: rgba(11, 2, 35, 0.10);

}

.youtube {
    color: red;
}


/* header */
.header {
    display: flex;
    justify-content: space-between;

}

.Group-18-img {
    width: 600px;

}

.play {
    padding: 100px;
}

.goat {

    margin-top: -40px;
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mini-text {
    padding-right: 5px;
    color: #F948B2;
}

.sign {
    padding: 15px 40px;
    border-radius: 48px;
    border-style: none;
    background-color: #F948B2;
}

.go {
    padding: 15px 40px;
    border-radius: 48px;
    border-style: none;

    background: #4EC5F7;
}

/*  <!-- online games --> */

.online {

    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}

.collection {
    color: #534C64;
    text-align: center;

    font-size: 18px;

    font-weight: 400;

}

.online-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    
    ;
}
.online-sub-container{
    width:300px ;
    gap: 5px;

}

.online-img {

    border-radius: 16px;
    margin-top: 20px;
    width: 250px;
    height: 250px;

}

.watch:hover {

    border: 0px solid var(--Linear, #FF42A5);
    opacity: 40%;

}


/*  <!-- online games --> */

/*play instently  */

.play-instently {
    margin-top: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 20px;
}

.play-img1 {
    width: 400px;
    height: 500px;
    border-radius: 8px;

}

.play-img2 {
    width: 300px;
    height: 350px;
    margin-top: -210px;
    margin-left: -130px;

}

.instent-heading {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-right: 170px;

}
.instent-sub-heading{
    text-align: right;
    margin-right: 170px;
}
/*play instently  */

/* rectengle */
.rectengle{
  margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
  
}
.round-img{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 243px;
height: 80px;
border-radius: 50px;
}

/* rectengle */

/* foote */
.gamer{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    align-items: center;
}

.footer{
    background: #0B0223;
    /* s */
}
.links{
    
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 600
   
}
.footer-heading{
  font-size: 45px;
   font-weight: 700;
  
}

.footer-link{
    text-decoration: none;
    color: white;
    padding: 40px 0;
   
}
.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;

}
.icons{
    color: white;
    font-size: 30px;
}